<div class="mb-4 text-center">
    <h1 class="display-5">
        <svg class="dashboard-icon-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
            style="width: 1em; height: 1em; vertical-align: -0.125em;">
            <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                <path
                    d="M2394 4925 c-76 -16 -167 -53 -242 -96 -43 -25 -314 -290 -1079 -1054 -1134 -1131 -1067 -1057 -1068 -1195 0 -91 26 -149 95 -214 87 -81 218 -98 325 -43 38 20 285 261 1035 1012 555 555 1001 995 1022 1006 21 10 56 19 78 19 22 0 57 -9 78 -19 21 -11 467 -451 1022 -1006 750 -751 997 -992 1035 -1012 107 -55 238 -38 325 43 67 63 95 123 95 209 0 135 9 123 -446 580 l-409 411 0 451 c0 299 -4 470 -11 505 -30 138 -142 228 -284 228 -118 0 -214 -61 -267 -169 -21 -42 -23 -62 -26 -234 l-4 -189 -321 319 c-330 326 -368 358 -497 410 -130 52 -319 68 -456 38z" />
                <path
                    d="M2510 3789 c-30 -12 -1765 -1742 -1786 -1781 -12 -23 -14 -133 -14 -692 0 -441 4 -683 11 -718 29 -139 140 -289 265 -355 119 -63 121 -63 631 -63 l463 0 0 650 0 650 480 0 480 0 0 -650 0 -650 463 0 c510 0 512 0 631 63 125 66 236 216 265 355 7 35 11 277 11 718 0 559 -2 669 -14 692 -23 42 -1757 1770 -1789 1782 -34 12 -64 12 -97 -1z" />
            </g>
        </svg>
        Bienvenid@ {{usuario.nombre_usuario}}
    </h1>
</div>

<div class="row g-4 mb-5">
    <!-- Buscar películas -->
    <div class="col-6 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-body text-center p-4">
                <svg class="dashboard-icon-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                        <path
                            d="M691 4895 c-103 -19 -208 -73 -289 -150 -77 -72 -122 -142 -160 -247 l-27 -73 0 -890 c0 -978 -2 -937 63 -1075 48 -103 157 -212 262 -264 133 -65 155 -67 949 -64 l705 3 36 95 c77 205 187 376 340 529 329 330 788 488 1240 426 156 -21 287 -59 448 -132 11 -4 12 121 9 678 -3 754 -1 720 -68 859 -46 93 -160 205 -259 254 -139 68 -73 65 -1705 65 -1185 -1 -1484 -3 -1544 -14z m1526 -754 c698 -349 726 -365 753 -436 30 -80 3 -185 -62 -240 -18 -15 -331 -176 -695 -359 -655 -327 -664 -331 -723 -330 -82 1 -144 39 -182 113 l-28 53 0 678 c0 479 3 687 11 711 19 56 59 100 113 125 99 46 66 59 813 -315z" />
                        <path
                            d="M1710 3630 c0 -159 3 -290 8 -289 4 0 135 65 292 143 l285 144 -293 146 -292 146 0 -290z" />
                        <path
                            d="M3493 2980 c-489 -52 -911 -384 -1077 -848 -94 -264 -94 -573 1 -846 63 -181 148 -319 283 -460 247 -258 568 -396 924 -396 207 0 386 40 557 125 l86 42 129 -148 c71 -81 133 -148 137 -148 8 -1 317 269 317 276 0 2 -54 66 -121 141 -66 75 -123 142 -125 148 -3 6 20 44 51 85 69 92 144 236 183 354 83 249 83 554 1 800 -162 484 -583 823 -1090 875 -111 11 -148 11 -256 0z m303 -439 c415 -86 706 -463 680 -881 -7 -119 -28 -202 -77 -308 -127 -275 -382 -459 -681 -492 -256 -29 -505 59 -692 244 -165 163 -249 367 -249 606 1 129 17 212 64 325 156 375 558 588 955 506z" />
                    </g>
                </svg>
                <h5 class="card-title">Buscar Películas</h5>
                <p class="card-text">Encuentra películas en OMDb.</p>
                <a href="/buscar" class="btn btn-warning">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                            <path
                                d="M691 4895 c-103 -19 -208 -73 -289 -150 -77 -72 -122 -142 -160 -247 l-27 -73 0 -890 c0 -978 -2 -937 63 -1075 48 -103 157 -212 262 -264 133 -65 155 -67 949 -64 l705 3 36 95 c77 205 187 376 340 529 329 330 788 488 1240 426 156 -21 287 -59 448 -132 11 -4 12 121 9 678 -3 754 -1 720 -68 859 -46 93 -160 205 -259 254 -139 68 -73 65 -1705 65 -1185 -1 -1484 -3 -1544 -14z m1526 -754 c698 -349 726 -365 753 -436 30 -80 3 -185 -62 -240 -18 -15 -331 -176 -695 -359 -655 -327 -664 -331 -723 -330 -82 1 -144 39 -182 113 l-28 53 0 678 c0 479 3 687 11 711 19 56 59 100 113 125 99 46 66 59 813 -315z" />
                            <path
                                d="M1710 3630 c0 -159 3 -290 8 -289 4 0 135 65 292 143 l285 144 -293 146 -292 146 0 -290z" />
                            <path
                                d="M3493 2980 c-489 -52 -911 -384 -1077 -848 -94 -264 -94 -573 1 -846 63 -181 148 -319 283 -460 247 -258 568 -396 924 -396 207 0 386 40 557 125 l86 42 129 -148 c71 -81 133 -148 137 -148 8 -1 317 269 317 276 0 2 -54 66 -121 141 -66 75 -123 142 -125 148 -3 6 20 44 51 85 69 92 144 236 183 354 83 249 83 554 1 800 -162 484 -583 823 -1090 875 -111 11 -148 11 -256 0z m303 -439 c415 -86 706 -463 680 -881 -7 -119 -28 -202 -77 -308 -127 -275 -382 -459 -681 -492 -256 -29 -505 59 -692 244 -165 163 -249 367 -249 606 1 129 17 212 64 325 156 375 558 588 955 506z" />
                        </g>
                    </svg> Buscar
                </a>
            </div>
        </div>
    </div>

    <!-- Mis listas -->
    <div class="col-6 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-body text-center p-4">
                <svg class="dashboard-icon-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                        <path
                            d="M1375 4946 c-67 -29 -105 -106 -91 -181 9 -47 59 -102 104 -115 25 -8 401 -10 1194 -8 1150 3 1157 3 1184 24 53 39 69 71 69 134 0 63 -16 95 -69 134 -27 21 -33 21 -1194 23 -955 2 -1173 0 -1197 -11z" />
                        <path
                            d="M895 4306 c-67 -29 -105 -106 -91 -181 9 -47 59 -102 104 -115 26 -8 545 -10 1674 -8 1635 3 1637 3 1664 24 53 39 69 71 69 134 0 63 -16 95 -69 134 -27 21 -28 21 -1674 23 -1354 2 -1652 0 -1677 -11z" />
                        <path
                            d="M405 3671 c-90 -22 -172 -90 -215 -176 l-25 -50 0 -1525 0 -1525 23 -45 c35 -72 75 -114 144 -151 l63 -34 2165 0 2165 0 51 27 c76 40 107 70 145 140 l34 63 0 1525 0 1525 -34 63 c-37 69 -79 109 -151 144 l-45 23 -2145 2 c-1180 0 -2158 -2 -2175 -6z m2386 -1206 c360 -224 668 -422 686 -440 56 -59 56 -146 0 -207 -18 -21 -308 -208 -687 -444 l-655 -409 -57 0 c-61 0 -94 17 -132 69 -21 27 -21 37 -24 859 -2 458 0 846 3 864 7 40 49 91 90 109 16 8 50 13 76 11 41 -3 123 -52 700 -412z" />
                    </g>
                </svg>
                <h5 class="card-title">Mis Listas</h5>
                <p class="card-text">Organiza tus películas en listas personalizadas</p>
                <a href="/listas" class="btn btn-warning">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                            <path
                                d="M1375 4946 c-67 -29 -105 -106 -91 -181 9 -47 59 -102 104 -115 25 -8 401 -10 1194 -8 1150 3 1157 3 1184 24 53 39 69 71 69 134 0 63 -16 95 -69 134 -27 21 -33 21 -1194 23 -955 2 -1173 0 -1197 -11z" />
                            <path
                                d="M895 4306 c-67 -29 -105 -106 -91 -181 9 -47 59 -102 104 -115 26 -8 545 -10 1674 -8 1635 3 1637 3 1664 24 53 39 69 71 69 134 0 63 -16 95 -69 134 -27 21 -28 21 -1674 23 -1354 2 -1652 0 -1677 -11z" />
                            <path
                                d="M405 3671 c-90 -22 -172 -90 -215 -176 l-25 -50 0 -1525 0 -1525 23 -45 c35 -72 75 -114 144 -151 l63 -34 2165 0 2165 0 51 27 c76 40 107 70 145 140 l34 63 0 1525 0 1525 -34 63 c-37 69 -79 109 -151 144 l-45 23 -2145 2 c-1180 0 -2158 -2 -2175 -6z m2386 -1206 c360 -224 668 -422 686 -440 56 -59 56 -146 0 -207 -18 -21 -308 -208 -687 -444 l-655 -409 -57 0 c-61 0 -94 17 -132 69 -21 27 -21 37 -24 859 -2 458 0 846 3 864 7 40 49 91 90 109 16 8 50 13 76 11 41 -3 123 -52 700 -412z" />
                        </g>
                    </svg> Ver Listas
                </a>
            </div>
        </div>
    </div>

    <!-- Crear lista -->
    <div class="col-6 col-md-6 col-lg-4">
        <div class="card h-100">
            <div class="card-body text-center p-4">
                <svg class="dashboard-icon-large" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                        <path
                            d="M2375 4899 c-782 -64 -1478 -510 -1864 -1196 -324 -576 -385 -1281 -167 -1912 116 -334 288 -611 540 -869 705 -723 1792 -913 2701 -472 491 239 898 659 1115 1150 358 809 242 1724 -306 2422 -129 164 -385 396 -564 510 -199 127 -446 236 -665 293 -166 44 -277 62 -445 75 -150 11 -199 11 -345 -1z m263 -1075 c44 -18 87 -57 110 -99 15 -26 18 -86 22 -490 l5 -460 460 -5 c503 -5 487 -3 547 -67 76 -80 76 -206 0 -286 -60 -64 -44 -62 -547 -67 l-460 -5 -5 -460 c-5 -503 -3 -487 -67 -547 -80 -76 -206 -76 -286 0 -64 60 -62 44 -67 547 l-5 460 -460 5 c-503 5 -487 3 -547 67 -76 80 -76 206 0 286 60 64 44 62 547 67 l460 5 5 460 c5 503 3 487 67 547 59 56 148 73 221 42z" />
                    </g>
                </svg>
                <h5 class="card-title">Nueva Lista</h5>
                <p class="card-text">Crea una nueva lista para organizar películas</p>
                <a href="/listas/nueva" class="btn btn-warning">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                            <path
                                d="M2375 4899 c-782 -64 -1478 -510 -1864 -1196 -324 -576 -385 -1281 -167 -1912 116 -334 288 -611 540 -869 705 -723 1792 -913 2701 -472 491 239 898 659 1115 1150 358 809 242 1724 -306 2422 -129 164 -385 396 -564 510 -199 127 -446 236 -665 293 -166 44 -277 62 -445 75 -150 11 -199 11 -345 -1z m263 -1075 c44 -18 87 -57 110 -99 15 -26 18 -86 22 -490 l5 -460 460 -5 c503 -5 487 -3 547 -67 76 -80 76 -206 0 -286 -60 -64 -44 -62 -547 -67 l-460 -5 -5 -460 c-5 -503 -3 -487 -67 -547 -80 -76 -206 -76 -286 0 -64 60 -62 44 -67 547 l-5 460 -460 5 c-503 5 -487 3 -547 67 -76 80 -76 206 0 286 60 64 44 62 547 67 l460 5 5 460 c5 503 3 487 67 547 59 56 148 73 221 42z" />
                        </g>
                    </svg> Crear Lista
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Sección de búsqueda rápida -->
<div class="card card-dark border-0 shadow-sm mb-4">
    <div class="card-body p-4">
        <h5 class="card-title mb-3">
            <i class="bi bi-lightning text-warning me-2"></i>Búsqueda Rápida
        </h5>
        <form action="/buscar" method="GET" class="row g-3">
            <div class="col-md-9">
                <input type="text" name="q" class="form-control" placeholder="Escribe el nombre de una película..."
                    required>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary w-100" id="buscar-rapida">
                    <i class="bi bi-search me-1"></i> Buscar
                </button>
            </div>
        </form>
    </div>
</div>

<!-- Películas populares sugeridas -->
<div class="card card-dark border-0 shadow-sm">
    <div class="card-body p-4">
        <h5 class="card-title mb-3">
            <i class="bi bi-fire text-danger me-2"></i>Películas Populares - Recomendadas para ti
        </h5>
        <div id="peliculasPopulares" class="row row-cols-2 row-cols-md-4 row-cols-lg-4 g-3">
            <div class="col-12 text-center">
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Cargando...</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const contenedor = document.getElementById('peliculasPopulares');

        try {
            const res = await fetch('/api/peliculas/populares');
            const data = await res.json();

            if (data.exito && data.datos.length > 0) {
                contenedor.innerHTML = data.datos.map(pelicula => `
                <div class="col">
                    <div class="card movie-card h-100 d-flex flex-column">
                        <img src="${pelicula.poster}" class="card-img-top" alt="${pelicula.titulo}"
                            onerror="this.src='https://via.placeholder.com/200x300?text=No+Image'">
                        <div class="card-body d-flex flex-column">
                            <!-- PARTE SUPERIOR: Título, Tag, Año, Rating -->
                            <div class="card-content-top">
                                <h6 class="card-title-container mb-1">
                                    <span class="card-title-text" tabindex="0" data-bs-toggle="popover"
                                        data-bs-trigger="hover focus" data-bs-placement="top"
                                        data-bs-content="${pelicula.titulo}">${pelicula.titulo}</span>
                                </h6>
                                <span class="badge badge-tipo mb-1">${pelicula.tipo}</span>
                                <p class="card-text small mb-0 text-ink-black">
                                    ${pelicula.anio} 
                                    <span class="mx-1 text-muted">|</span> 
                                    <i class="bi bi-star-fill text-warning"></i> ${pelicula.puntuacion_imdb}
                                </p>
                            </div>

                            <!-- SEPARADOR -->
                            <div class="card-separator my-2"></div>

                            <!-- PARTE INFERIOR: Botón grande -->
                            <div class="mt-auto">
                                <button class="btn btn-card-action w-100 py-2"
                                    onclick="mostrarModalAgregar('${pelicula.imdb_id}', '${pelicula.titulo.replace(/'/g, "\\'")}')">
                                    <i class="bi bi-plus-circle-fill me-2" style="font-size: 1.2rem;"></i>
                                    Agregar a una lista
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            `).join('');

                // Inicializar popovers
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                    return new bootstrap.Popover(popoverTriggerEl)
                })
            } else {
                contenedor.innerHTML = '<div class="col-12 text-center text-muted">No se pudieron cargar películas populares</div>';
            }
        } catch (error) {
            console.error(error);
            contenedor.innerHTML = '<div class="col-12 text-center text-danger">Error al cargar películas</div>';
        }
    });

    let peliculaSeleccionada = { imdb_id: '', titulo: '' };

    function mostrarModalAgregar(imdbId, titulo) {
        peliculaSeleccionada = { imdb_id: imdbId, titulo };

        fetch('/api/listas', { credentials: 'same-origin' })
            .then(res => res.json())
            .then(data => {
                if (data.exito && data.datos.length > 0) {
                    const opciones = data.datos.map(lista =>
                        `<option value="${lista.id}">${lista.nombre}</option>`
                    ).join('');

                    const contenido = `
                    <div class="modal fade" id="modalAgregarLista" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content bg-dark text-light">
                                <div class="modal-header border-secondary">
                                    <h5 class="modal-title">Agregar "${titulo}" a lista</h5>
                                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">
                                    <select id="listaSelect" class="form-select bg-secondary text-light border-dark">
                                        ${opciones}
                                    </select>
                                </div>
                                <div class="modal-footer border-secondary">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-primary" onclick="agregarPeliculaALista()">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                    const modalAnterior = document.getElementById('modalAgregarLista');
                    if (modalAnterior) modalAnterior.remove();

                    document.body.insertAdjacentHTML('beforeend', contenido);
                    const modal = new bootstrap.Modal(document.getElementById('modalAgregarLista'));
                    modal.show();
                } else {
                    alert('Primero debes crear una lista');
                    window.location.href = '/listas/nueva';
                }
            })
            .catch(error => {
                console.error(error);
                alert('Error al cargar las listas');
            });
    }

    async function agregarPeliculaALista() {
        const listaId = document.getElementById('listaSelect').value;

        try {
            const res = await fetch('/api/peliculas/agregar-a-lista', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                credentials: 'same-origin',
                body: JSON.stringify({
                    imdb_id: peliculaSeleccionada.imdb_id,
                    lista_id: parseInt(listaId)
                })
            });

            const data = await res.json();

            if (data.exito) {
                alert(`"${peliculaSeleccionada.titulo}" agregada a la lista`);
                bootstrap.Modal.getInstance(document.getElementById('modalAgregarLista')).hide();
            } else {
                alert(data.error || 'Error al agregar película');
            }
        } catch (error) {
            console.error(error);
            alert('Error de conexión');
        }
    }
</script>

<style>
    /* POSTERS - ALTURA FIJA */
    .movie-card .card-img-top {
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    /* TÍTULO DE PELÍCULA - ALTURA FIJA 2 LÍNEAS */
    .card-title-container {
        color: var(--ink-black, #081f21);
        font-size: 1.8rem;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
        height: 2.6em;
        /* Altura fija para 2 líneas */
        line-height: 1.3em;
    }

    .card-title-text {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
        word-break: break-word;
    }



    /* BADGE TIPO PELÍCULA */
    .badge-tipo {
        background-color: var(--pearl-aqua, #69dadc);
        color: var(--ink-black, #081f21);
        font-size: 0.7rem;
        font-weight: 700;
        padding: 0.2rem 0.5rem;
        border-radius: 6px;
        text-transform: uppercase;
        display: inline-block;
    }

    /* COLOR INK-BLACK PARA TEXTOS */
    .text-ink-black {
        color: var(--ink-black, #081f21);
    }

    /* SEPARADOR ENTRE CONTENIDO SUPERIOR E INFERIOR */
    .card-separator {
        border-top: 2px dashed rgba(8, 31, 33, 0.2);
        width: 100%;
    }

    /* BOTONES DE ACCIÓN EN CARDS */
    .btn-card-action {
        background-color: var(--ink-black, #081f21) !important;
        color: var(--azure-mist, #eefbfb) !important;
        border: 2px solid var(--ink-black, #081f21) !important;
        border-radius: 10px;
        padding: 0.4rem 0.6rem;
        transition: all 0.2s ease;
        font-weight: 600;
    }

    .btn-card-action:hover {
        background-color: var(--royal-gold, #fae04c) !important;
        color: var(--ink-black, #081f21) !important;
        transform: translateY(-2px);
        box-shadow: 3px 3px 0px var(--ink-black, #081f21);
    }

    .btn-card-action i {
        font-size: 1rem;
    }

    /* POPOVER CUSTOM STYLING */
    .popover {
        background-color: var(--ink-black, #081f21);
        border: 2px solid var(--royal-gold, #fae04c);
        border-radius: 12px;
        box-shadow: 4px 4px 0px var(--pearl-aqua, #69dadc);
    }

    .popover-body {
        color: var(--azure-mist, #eefbfb);
        font-style: italic;
        padding: 0.75rem 1rem;
    }

    .popover-arrow::before,
    .popover-arrow::after {
        border-top-color: var(--ink-black, #081f21) !important;
    }
</style>