<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/img/palomitas.png" alt="Club Palomitas" width="50" height="50" class="me-2">
            CLUB PALOMITAS
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto">
                {{#if usuario}}
                <a class="nav-link" href="/dashboard">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                            <path
                                d="M2394 4925 c-76 -16 -167 -53 -242 -96 -43 -25 -314 -290 -1079 -1054 -1134 -1131 -1067 -1057 -1068 -1195 0 -91 26 -149 95 -214 87 -81 218 -98 325 -43 38 20 285 261 1035 1012 555 555 1001 995 1022 1006 21 10 56 19 78 19 22 0 57 -9 78 -19 21 -11 467 -451 1022 -1006 750 -751 997 -992 1035 -1012 107 -55 238 -38 325 43 67 63 95 123 95 209 0 135 9 123 -446 580 l-409 411 0 451 c0 299 -4 470 -11 505 -30 138 -142 228 -284 228 -118 0 -214 -61 -267 -169 -21 -42 -23 -62 -26 -234 l-4 -189 -321 319 c-330 326 -368 358 -497 410 -130 52 -319 68 -456 38z" />
                            <path
                                d="M2510 3789 c-30 -12 -1765 -1742 -1786 -1781 -12 -23 -14 -133 -14 -692 0 -441 4 -683 11 -718 29 -139 140 -289 265 -355 119 -63 121 -63 631 -63 l463 0 0 650 0 650 480 0 480 0 0 -650 0 -650 463 0 c510 0 512 0 631 63 125 66 236 216 265 355 7 35 11 277 11 718 0 559 -2 669 -14 692 -23 42 -1757 1770 -1789 1782 -34 12 -64 12 -97 -1z" />
                        </g>
                    </svg> Dashboard
                </a>
                <a class="nav-link" href="/listas">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                            <path
                                d="M1375 4946 c-67 -29 -105 -106 -91 -181 9 -47 59 -102 104 -115 25 -8 401 -10 1194 -8 1150 3 1157 3 1184 24 53 39 69 71 69 134 0 63 -16 95 -69 134 -27 21 -33 21 -1194 23 -955 2 -1173 0 -1197 -11z" />
                            <path
                                d="M895 4306 c-67 -29 -105 -106 -91 -181 9 -47 59 -102 104 -115 26 -8 545 -10 1674 -8 1635 3 1637 3 1664 24 53 39 69 71 69 134 0 63 -16 95 -69 134 -27 21 -28 21 -1674 23 -1354 2 -1652 0 -1677 -11z" />
                            <path
                                d="M405 3671 c-90 -22 -172 -90 -215 -176 l-25 -50 0 -1525 0 -1525 23 -45 c35 -72 75 -114 144 -151 l63 -34 2165 0 2165 0 51 27 c76 40 107 70 145 140 l34 63 0 1525 0 1525 -34 63 c-37 69 -79 109 -151 144 l-45 23 -2145 2 c-1180 0 -2158 -2 -2175 -6z m2386 -1206 c360 -224 668 -422 686 -440 56 -59 56 -146 0 -207 -18 -21 -308 -208 -687 -444 l-655 -409 -57 0 c-61 0 -94 17 -132 69 -21 27 -21 37 -24 859 -2 458 0 846 3 864 7 40 49 91 90 109 16 8 50 13 76 11 41 -3 123 -52 700 -412z" />
                        </g>
                    </svg> Mis Listas
                </a>
                <a class="nav-link" href="/buscar">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <g transform="translate(0,512) scale(0.1,-0.1)" fill="currentColor" stroke="none">
                            <path
                                d="M691 4895 c-103 -19 -208 -73 -289 -150 -77 -72 -122 -142 -160 -247 l-27 -73 0 -890 c0 -978 -2 -937 63 -1075 48 -103 157 -212 262 -264 133 -65 155 -67 949 -64 l705 3 36 95 c77 205 187 376 340 529 329 330 788 488 1240 426 156 -21 287 -59 448 -132 11 -4 12 121 9 678 -3 754 -1 720 -68 859 -46 93 -160 205 -259 254 -139 68 -73 65 -1705 65 -1185 -1 -1484 -3 -1544 -14z m1526 -754 c698 -349 726 -365 753 -436 30 -80 3 -185 -62 -240 -18 -15 -331 -176 -695 -359 -655 -327 -664 -331 -723 -330 -82 1 -144 39 -182 113 l-28 53 0 678 c0 479 3 687 11 711 19 56 59 100 113 125 99 46 66 59 813 -315z" />
                            <path
                                d="M1710 3630 c0 -159 3 -290 8 -289 4 0 135 65 292 143 l285 144 -293 146 -292 146 0 -290z" />
                            <path
                                d="M3493 2980 c-489 -52 -911 -384 -1077 -848 -94 -264 -94 -573 1 -846 63 -181 148 -319 283 -460 247 -258 568 -396 924 -396 207 0 386 40 557 125 l86 42 129 -148 c71 -81 133 -148 137 -148 8 -1 317 269 317 276 0 2 -54 66 -121 141 -66 75 -123 142 -125 148 -3 6 20 44 51 85 69 92 144 236 183 354 83 249 83 554 1 800 -162 484 -583 823 -1090 875 -111 11 -148 11 -256 0z m303 -439 c415 -86 706 -463 680 -881 -7 -119 -28 -202 -77 -308 -127 -275 -382 -459 -681 -492 -256 -29 -505 59 -692 244 -165 163 -249 367 -249 606 1 129 17 212 64 325 156 375 558 588 955 506z" />
                        </g>
                    </svg> Buscar
                </a>
                <span class="nav-link text-info">
                    <i class="bi bi-person-circle me-1"></i>{{usuario.nombre_usuario}}
                </span>
                <a class="nav-link text-warning" href="/auth/logout">
                    <i class="bi bi-box-arrow-right me-1"></i>Salir
                </a>
                {{else}}
                <a class="nav-link" href="/auth/login">
                    <i class="bi bi-box-arrow-in-right me-1"></i>Iniciar Sesión
                </a>
                <a class="nav-link" href="/auth/register">
                    <i class="bi bi-person-plus me-1"></i>Registrarse
                </a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>